<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Task List</title>
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Css -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/index.css">

    <!-- Script -->
    <script src="/scripts/index.js" defer></script>

</head>
<body>
    <div id="index">
        <header>
            <div class="container">
                <nav>
                    <div class="left-nav">
                        <a href="">
                            <img src="/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="right-nav">
                        <a href="/loginIn">Fazer login</a>
                        <a href="/loginUp">Crie sua conta</a>
                    </div>
                </nav>
            </div>
        </header>
        
        <main>
            <section>
                <h1 id="saudacao">seja bem-vindo!</h1>
                <p>Aplicação foi projetada para criar tarefas, dividindo-as em categorias, sendo possível marcá-las ou não como lidas.</p>
                <div id="baner"></div>
            </section>
        </main>
    </div>
</body>
</html>