html {
    background-color: var(--black);
    color: var(--white);
}

#index header {
    width: 100%;
    background-color: var(--blue-black);

    padding: 2.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index header .container {
    width: 100%;
    padding: 0 1.25rem;
}

#index header .container > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#index header .container > nav .right-nav > a[href="/loginIn"] {
    padding: 1rem;
    font-weight: 500;
}

#index header .container > nav .right-nav > a[href="/loginUp"] {
    border-radius: .75rem;
    border: 3px solid var(--blue-black-white);
    padding: .75rem 1.5rem;
    font-weight: 500;
}

#index header .container > nav .right-nav > a[href="/loginIn"]:hover {
    border-bottom: 2px solid var(--purple);
}

#index header .container > nav .right-nav > a[href="/loginUp"]:hover {
    border: 3px solid var(--purple);
}

#baner {
    background: url('/images/baner.svg') no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 400px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}

main section {
    width: 100%;
    max-width: 768px;

    margin-top: 3.5rem;
    padding: 0 1.25rem;
}

main section h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;

    color: var(--white);
}

/* ****************************
RESPONSIVO
**************************** */
@media (max-width: 459px) {
    #index header .container > nav {
        flex-direction: column;
    }
    
    #index header .container > nav .left-nav {
        margin-bottom: 1.5rem;
    }
}